/* You can add global styles to this file, and also import other style files */

/** Quill Editor */
@import '~quill/dist/quill.snow.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: darkgrey; }

:root {
    --tots-form-sidebar-bg-left: #0f172a;
    --tots-form-sidebar-bg-item-normal: #3A2E27;
    --tots-form-sidebar-bg-item-hover: #52443C;
    --tots-form-sidebar-bg-item-active: #9F8D84;
    --tots-form-sidebar-border-item: #F4DED3;
}

tots-form {
    .tots-field-main-container:not(:last-of-type) {
        margin-bottom: 20px;
    }
}